<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <!--Navigation Menu an Bar-->
    <%- include("./partials/nav.ejs") %>

    <!--Course Details-->
    <section class="p-5 bg-success">
        <div class="container p-5 bg-white">
         
        <h2>Requisted Course</h2>       

          
            <h4 class="name">Course Name: <%= course.name %></h4> 
             
            <p class="courseDesc">Course Description: <%= course.desc %></p>        
            <p class="subArea">Subject Area: <%= course.subArea %></p>
            <p class="numcred">Credit Hours: <%= course.numcred %></p>
           
         
          <button class="btn btn-success btn-lg bi bi-chevron-right delete" id="delete"   data-doc="<%= course._id %>">Delete</button>
       <!-- <a class="delete" data-doc="<%= course._id %>">delete</a>-->
      </div>
      </section>
    

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>

    <script>
        const trashcan = document.querySelector('#delete');

        trashcan.addEventListener('click', (e) => {
          const endpoint = `/courses/${trashcan.dataset.doc}`; <!--note here we used datset.doc as doc is name we gave to data in <.delete> above which has the id-->
    
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then((response) => response.json())
          .then((data) => window.location.href = data.redirect)
          .catch(err => console.log(err));
        });
        
    </script>

</body>
</html>