<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <!--Navigation Menu an Bar-->
    <%- include("./partials/nav.ejs") %>

    <!--Course Details-->
    <section class="p-5 bg-success">
        <div class="details container p-5 bg-white">
         
        <h2>Search for Course by Name</h2> 

        <div class="details container p-5 bg-white">
          <% if (courses.length > 0) { %>
            <% courses.forEach(course => { %>               
            
              <a class="dropdown-item" href="/students/studentCourseDetails/<%= course._id %>"><%= course.name %></a>

            <% }) %>    
          <% } %>     
        </div>

       <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Courses Names
            </button>

            
            <ul class="dropdown-menu">
              <% if (courses.length > 0) { %>
                <% courses.forEach(course => { %>               
                
                  <li> <a class="dropdown-item" href="/students/studentCourseDetails/<%= course._id %>"><%= course.name %></a></li>
    
                <% }) %>    
              <% } %>          
            </ul>
        </div>-->
          
         
      </div>
      </section>
      
    

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>    

</body>
</html>