<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <!--Navigation Menu an Bar-->
        <%- include("./partials/nav.ejs") %>

    <!--Showcase or main header area-->
    
        

            <div class="courses content p-5" >

                <h2>Student schedule</h2>
                <h2 class="name"><%=studentDetails.name %>'s Schedule</h2> 
                <% if (studentDetails.schedule.length > 0) { %> 
                <% studentDetails.schedule.forEach(course => { %>

                    <a class="single" href="/courses/<%= course._id %>">

                        <h3 class="name"><%= course.courseName %></h3>          
                        <p class="subArea">Subject Area: <%= course.courseDescription %></p>
                        <p class="numcred">Credits: <%= course.courseCredit %></p>
                       
                      </a>
                      <% }) %>
              </div>
              
              <% } else { %>
                <p>There are no courses to display...</p>
                <% } %>



<!-- Footer -->
<%- include("./partials/footer.ejs") %>     
   
</body>
</html>